<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <ros2_control name="RobotHardwareInterface" type="system">
        <hardware>
            <!-- where RobotHardwareInterface on? -->
            <plugin>mock_components/GenericSystem</plugin>
            <param name="calculate_dynamics">true</param>
        </hardware>


        <!-- each joint and which way to read/control it -->
        <joint name="base_right_wheel_joint">
            <!-- write velocity for wheel -->
            <command_interface name="velocity" />

            <!-- read velocity/position from wheel -->
            <state_interface name="position" />
            <state_interface name="velocity" />

        </joint>

        <!-- each joint and which way to read/control it -->
        <joint name="base_left_wheel_joint">
            <!-- write velocity for wheel -->
            <command_interface name="velocity" />

            <!-- read velocity/position from wheel -->
            <state_interface name="position" />
            <state_interface name="velocity" />

        </joint>

    </ros2_control>

</robot>